<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguridad</title>
</head>
<body>
    <form method="GET">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" />
        <input type="submit" value="Buscar">
    </form>

    <h2 id="resultado">Resultado {{nombre}|safe}</h2>

    <script type="application/javascript">
        var busqueda = new URLSearchParams(document.location.search);
        if (busqueda.has("nombre")) {
            document.getElementById("resultado").innerHTML = "Resultado: " + busqueda.get("nombre");
        }
    </script>
</body>
</html>
